.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;

}


.input {
    width: 380px;
    height: 54px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #D0CFCF;
    background-color: #F8F8F8;
    margin-top: 50px;
    padding-left: 16px;
}


.number{
    font-size: 12px;
    margin-left: 16px;
}

.error {
    font-size: 12px;
    margin-left: 16px;
    color: red;
}

@media screen and (max-width: 380px) {
    .input {
        width:  328px;
    }
}